
/* colours */
.merlot {
  background-color: #3a1014;
}

.pinotage {
  background-color: #5a1314;
}

.cool-beige {
  background-color: #8f6b5e;
}

.light-beige {
  background-color: #e0d4cf;
  color: white;
}

.black {
  color: black;
}

/* ------------------------------------------- */
/* Web page */

a {
  color: white;
}


.avatar {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.crop {
  object-fit: cover;
}

.hello-div {
  background-image: url("static/img/grapes.jpeg");
  background-position: center;
  background-size: cover;
  text-align: center;
  font-family: 'Alex Brush', cursive;
  height: 500px;

}

.hello-img {
  background-color: #8c8c8c;
  height: 400px;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}


.title {
  padding-top: 200px; 
  color:  white;
  font-size: 5rem;
}

.text-container{
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
  box-shadow: 10px 10px 5px #bcb3ac;
}


@media only screen and (max-width: 600px) {
  .title{
    font-size: 3rem;
  }

}
@media only screen and (max-width: 1200px) {
  .title{
    font-size: 3rem;
  }
}
