
/* colours */
.merlot {
  background-color: #394e3a;
}

.pinotage {
  background-color: #5a1314;
}

.cool-beige {
  background-color: #2e2e2e;
}

.light-beige {
  background-color:#3d3d3d;
  color: white;
}

.black {
  color: black;
}

/* ------------------------------------------- */
/* Web page */

a {
  color: white;
}


.crop {
  object-fit: cover;
}

.founders-img {
  width: 90%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

.hello-div {
  background-image: url("static/img/grapes.jpeg");
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 500px;
}

.hello-img{
  width: 500px;
  position: absolute;
  top: 181px;
  margin-left: 200px;
}

.hello-txt {
  text-align: left;
  margin-top: 160px;
}


.text-container{
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
  box-shadow: 10px 10px 5px #343434;
}

.spacer {
  height: 75px;
}

.spacer-sm {
  height: 30px; 
}

.title {
  margin-top: 100px; 
  margin-bottom: 50px;
}


@media only screen and (max-width: 720px) {
  .title{
    margin-top: 0px;
    font-size: 3rem;
  }

  .spacer {
    height: 25px;
  }

  .founders-img {
    width: 100%;
    position: static;
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }

  .hello-img{
    margin-left: 0px;
  }

  .hello-div {
    padding-top: 50px; 
  }

  .hello-txt {
    text-align: left;
    margin-top: 0px;
  }


}
@media only screen and (max-width: 900px) {
  .title{    
    font-size: 3rem;
  }
  .spacer {
    height: 50px;
  }

  .founders-img {
    width: 100%;
    position: static;
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    margin-bottom: 20px;
  }

  .hello-img{
    margin-left: 0px;
  }

}
